In [2]:
import pandas as pd

In [13]:
%pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [3]:
df_bokslut = pd.read_stata("./serrano/serrano_2024_Stata/bokslut.dta")

In [4]:
df_bol = pd.read_stata("./serrano/serrano_2024_Stata/bol.dta")

In [5]:
df_ftg = pd.read_stata("./serrano/serrano_2024_Stata/ftg.dta")

In [6]:
df_knc = pd.read_stata("./serrano/serrano_2024_Stata/knc.dta")

['ORGNR', 'KOMORGNR', 'KOMNAMN', 'BSTYP', 'STATUS', 'REDTYP', 'BELKOD', 'UTDBEL', 'NTOMS', 'LAGERF', 'AKTARB', 'ROINTOV1', 'RAVAR', 'HANDVAR', 'EXTKOSOV', 'PERSKOS', 'AVSKRIV', 'JFRST1', 'RORKOOV1', 'RORRESUL', 'RESAND', 'RTEINKNC', 'RTEINEXT', 'RTEINOV', 'RTEKOKNC', 'RTEKOEXT', 'RTEKOOV', 'JFRSTFIN', 'RESEFIN', 'EXTRAINT', 'EXTRAKOS', 'KNCBDR', 'AGTSK', 'BSLDISP', 'SKATTER', 'MININTRR', 'RESAR', 'KOSALVAR', 'BRUTORES', 'FORSKO', 'ADMKO', 'FOUKO', 'JFRST2', 'ROINTOV2', 'RORKOOV2', 'EJINBET', 'FOUBAUTG', 'PATLIC', 'GOODWILL', 'IMANLOV', 'IMANLSU', 'BYGGMARK', 'MASK', 'INVENT', 'MASKINV', 'MATANLOV', 'MATANLSU', 'ANDKNC', 'LFORDKNC', 'LANDELAG', 'FIANLTOV', 'FIANLTSU', 'ANLTSU', 'PAGARB', 'LAGEROV', 'LAGERSU', 'KUNDFORD', 'KFORDKNC', 'KFORDOV', 'KFORDSU', 'KPLACSU', 'KABASU', 'OMSTGSU', 'TILLGSU', 'AKTIEKAP', 'OVERKURS', 'UPPSKR', 'OVRGBKAP', 'BALRES', 'KNCBDREL', 'AGTSKEL', 'RESARB', 'EKSU', 'OBESKRES', 'MININTR', 'AVSSU', 'LSKKRIN', 'LSKKNC', 'LSKOV', 'LSKSU', 'KSKKRIN', 'KSKLEV', 'KSKKNC', 'KSKOV', 'KSKSU', 'EKSKSU', 'RTENTO', 'ANTANST', 'LONLEDN', 'LONOV', 'SOCKOSTN', 'TANTLEDN', 'RESLONOV', 'AVGVED', 'AVSKSALV', 'AVSKFSG', 'AVSKADM', 'AVSKFOU', 'AVSKOV2', 'AVSKOSPC', 'INTFTG', 'INTFAST', 'SAKOV', 'SAKKOM', 'SAKSU', 'AGTSKV', 'ANSVFOV', 'ANSVFKOM', 'ANSVFSU', 'CHKRBEV', 'CHKRUTN', 'REVBER', 'BOLSTPRO', 'MODDTM', 'BSLSTART', 'BSLSLUT']

In [7]:
df_nyckeltal = pd.read_stata("./serrano/serrano_2024_Stata/nyckeltal.dta")

In [15]:
df_serrano = pd.read_stata("./serrano/serrano_2024_Stata/serrano.dta")

In [28]:
filtered_df = df_serrano[(df_serrano['ser_year'] >= 2007) & (df_serrano['ser_jurform'] == 49) & (df_serrano['ser_aktiv'] == 1)]

# Drop rows where ser_year is 2007
filtered_df = filtered_df[filtered_df['ser_year'] != 2007]

# Calculate the annual growth rate for each company and add it as a new column
filtered_df['TURNOVER_GROWTH'] = filtered_df.groupby('ORGNR')['rr01_ntoms'].pct_change()

filtered_df

/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/1125738067.py:7: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  filtered_df['TURNOVER_GROWTH'] = filtered_df.groupby('ORGNR')['rr01_ntoms'].pct_change()
/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/1125738067.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  filtered_df['TURNOVER_GROWTH'] = filtered_df.groupby('ORGNR')['rr01_ntoms'].pct_change()

,ORGNR,ser_jurform,ser_year,ser_pnr,bransch_sni1,ser_aas,ser_inregyr,bransch_sni2,bransch_sni3,bransch_sni4,...,br10h_resarb,br13a_ksklev,br13b_kskknc,br13c_kskov,br15a_lskknc,br15b_lskov,br15c_obllan,ser_regdat,regfall,TURNOVER_GROWTH
352519,5.164018e+09,49.0,2015.0,90104.0,66030.0,0.0,1.0,NaN,NaN,NaN,...,-317.0,6.0,0.0,78.0,0.0,0.0,0.0,1992-11-02,BOL,NaN
383467,5.164060e+09,49.0,2015.0,11484.0,NaN,1.0,1.0,NaN,NaN,NaN,...,0.0,0.0,0.0,64.0,0.0,0.0,0.0,2003-04-16,BOL,NaN
415106,5.560000e+09,49.0,2008.0,63180.0,36220.0,2.0,1.0,28610.0,51479.0,28759.0,...,5992.0,4612.0,42980.0,6061.0,51556.0,0.0,0.0,1874-12-11,BOL,NaN
415107,5.560000e+09,49.0,2009.0,63180.0,36220.0,1.0,1.0,28610.0,51479.0,28759.0,...,15980.0,3020.0,9380.0,8877.0,13636.0,0.0,0.0,1874-12-11,BOL,-0.059624
415108,5.560000e+09,49.0,2010.0,63180.0,36220.0,1.0,1.0,28610.0,51479.0,28759.0,...,2818.0,3217.0,5651.0,5993.0,18398.0,0.0,0.0,1874-12-11,BOL,-0.075869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12087116,5.932002e+09,49.0,2018.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,79119.0,0.0,327781.0,0.0,0.0,0.0,0.0,1887-10-07,BOL,NaN
12087117,5.932002e+09,49.0,2019.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,275050.0,0.0,128652.0,0.0,0.0,0.0,0.0,1887-10-07,BOL,NaN
12087118,5.932002e+09,49.0,2020.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,124463.0,0.0,91532.0,3.0,0.0,0.0,0.0,1887-10-07,BOL,NaN
12087119,5.932002e+09,49.0,2021.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,107560.0,0.0,11.0,0.0,0.0,0.0,0.0,1887-10-07,BOL,NaN
12087120,5.932002e+09,49.0,2022.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,76936.0,0.0,2835.0,1.0,0.0,0.0,0.0,1887-10-07,BOL,NaN

In [ ]:
high_growth_companies = filtered_df.groupby('ORGNR').apply(
    lambda x: (x['TURNOVER_GROWTH'] > 0.20).rolling(window=3).sum().max() >= 3
).reset_index(name='is_high_growth')

In [29]:
list_of_df = [filtered_df]

path = ("./serrano/serrano_2024_Stata/")

for i, df in enumerate(list_of_df, start=22):
    filename = f"df_{i}.xlsx"
    df.head(10000).to_excel(path + filename, index=False)
    print(f"Saved to {path + filename}")

Saved to ./serrano/serrano_2024_Stata/df_22.xlsx

In [14]:




list_of_df = [df_bokslut, df_bol, df_ftg, df_knc, df_nyckeltal]

path = ("./serrano/serrano_2024_Stata/")

for i, df in enumerate(list_of_df, start=1):
    filename = f"df_{i}.xlsx"
    df.head(10000).to_excel(path + filename, index=False)
    print(f"Saved to {path + filename}")

Saved to ./serrano/serrano_2024_Stata/df_1.xlsx
Saved to ./serrano/serrano_2024_Stata/df_2.xlsx
Saved to ./serrano/serrano_2024_Stata/df_3.xlsx
Saved to ./serrano/serrano_2024_Stata/df_4.xlsx
Saved to ./serrano/serrano_2024_Stata/df_5.xlsx

In [17]:
df_serrano_post2008 = df_serrano[df_serrano['ser_year'] >= 2008]
df_serrano_post2008.head(10000)

,ORGNR,ser_jurform,ser_year,ser_pnr,bransch_sni1,ser_aas,ser_inregyr,bransch_sni2,bransch_sni3,bransch_sni4,...,br10g_agtskel,br10h_resarb,br13a_ksklev,br13b_kskknc,br13c_kskov,br15a_lskknc,br15b_lskov,br15c_obllan,ser_regdat,regfall
12,2.021000e+09,81.0,2008.0,10317.0,75232.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975-01-01,SCB
13,2.021000e+09,81.0,2009.0,10317.0,75232.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975-01-01,SCB
14,2.021000e+09,81.0,2010.0,10317.0,75232.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975-01-01,SCB
15,2.021000e+09,81.0,2011.0,10317.0,75232.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975-01-01,SCB
16,2.021000e+09,81.0,2012.0,10317.0,75232.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975-01-01,SCB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17404,2.220002e+09,83.0,2012.0,77182.0,75124.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-03-31,SCB
17405,2.220002e+09,83.0,2013.0,77182.0,75124.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-03-31,SCB
17406,2.220002e+09,83.0,2014.0,77182.0,75124.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-03-31,SCB
17407,2.220002e+09,83.0,2015.0,77182.0,75124.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-03-31,SCB
17408,2.220002e+09,83.0,2016.0,77182.0,75124.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-03-31,SCB

In [18]:
df_serrano_post2008_ab = df_serrano_post2008[df_serrano_post2008['ser_jurform'] == 49] # Aktiebolag
df_serrano_post2008_ab

,ORGNR,ser_jurform,ser_year,ser_pnr,bransch_sni1,ser_aas,ser_inregyr,bransch_sni2,bransch_sni3,bransch_sni4,...,br10g_agtskel,br10h_resarb,br13a_ksklev,br13b_kskknc,br13c_kskov,br15a_lskknc,br15b_lskov,br15c_obllan,ser_regdat,regfall
352512,5.164018e+09,49.0,2008.0,10420.0,66030.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-11-02,BOL
352513,5.164018e+09,49.0,2009.0,10420.0,66030.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-11-02,BOL
352514,5.164018e+09,49.0,2010.0,10420.0,66030.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-11-02,BOL
352515,5.164018e+09,49.0,2011.0,10420.0,66030.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-11-02,BOL
352516,5.164018e+09,49.0,2012.0,10420.0,66030.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992-11-02,BOL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12087116,5.932002e+09,49.0,2018.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,79119.0,0.0,327781.0,0.0,0.0,0.0,0.0,1887-10-07,BOL
12087117,5.932002e+09,49.0,2019.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,275050.0,0.0,128652.0,0.0,0.0,0.0,0.0,1887-10-07,BOL
12087118,5.932002e+09,49.0,2020.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,124463.0,0.0,91532.0,3.0,0.0,0.0,0.0,1887-10-07,BOL
12087119,5.932002e+09,49.0,2021.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,107560.0,0.0,11.0,0.0,0.0,0.0,0.0,1887-10-07,BOL
12087120,5.932002e+09,49.0,2022.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,76936.0,0.0,2835.0,1.0,0.0,0.0,0.0,1887-10-07,BOL

In [20]:
df_serrano_post2008_ab_active = df_serrano_post2008_ab[df_serrano_post2008_ab['ser_aktiv'] == 1] # Aktiva
df_serrano_post2008_ab_active

,ORGNR,ser_jurform,ser_year,ser_pnr,bransch_sni1,ser_aas,ser_inregyr,bransch_sni2,bransch_sni3,bransch_sni4,...,br10g_agtskel,br10h_resarb,br13a_ksklev,br13b_kskknc,br13c_kskov,br15a_lskknc,br15b_lskov,br15c_obllan,ser_regdat,regfall
352519,5.164018e+09,49.0,2015.0,90104.0,66030.0,0.0,1.0,NaN,NaN,NaN,...,0.0,-317.0,6.0,0.0,78.0,0.0,0.0,0.0,1992-11-02,BOL
383467,5.164060e+09,49.0,2015.0,11484.0,NaN,1.0,1.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,64.0,0.0,0.0,0.0,2003-04-16,BOL
415106,5.560000e+09,49.0,2008.0,63180.0,36220.0,2.0,1.0,28610.0,51479.0,28759.0,...,0.0,5992.0,4612.0,42980.0,6061.0,51556.0,0.0,0.0,1874-12-11,BOL
415107,5.560000e+09,49.0,2009.0,63180.0,36220.0,1.0,1.0,28610.0,51479.0,28759.0,...,0.0,15980.0,3020.0,9380.0,8877.0,13636.0,0.0,0.0,1874-12-11,BOL
415108,5.560000e+09,49.0,2010.0,63180.0,36220.0,1.0,1.0,28610.0,51479.0,28759.0,...,0.0,2818.0,3217.0,5651.0,5993.0,18398.0,0.0,0.0,1874-12-11,BOL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12087116,5.932002e+09,49.0,2018.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,79119.0,0.0,327781.0,0.0,0.0,0.0,0.0,1887-10-07,BOL
12087117,5.932002e+09,49.0,2019.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,275050.0,0.0,128652.0,0.0,0.0,0.0,0.0,1887-10-07,BOL
12087118,5.932002e+09,49.0,2020.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,124463.0,0.0,91532.0,3.0,0.0,0.0,0.0,1887-10-07,BOL
12087119,5.932002e+09,49.0,2021.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,107560.0,0.0,11.0,0.0,0.0,0.0,0.0,1887-10-07,BOL
12087120,5.932002e+09,49.0,2022.0,10217.0,65120.0,1.0,1.0,65232.0,67120.0,NaN,...,0.0,76936.0,0.0,2835.0,1.0,0.0,0.0,0.0,1887-10-07,BOL

In [21]:
df_serrano_post2008_ab_active['ORGNR'].nunique()

858226

In [23]:
list_of_df = [df_serrano_post2008_ab_active]

path = ("./serrano/serrano_2024_Stata/")

for i, df in enumerate(list_of_df, start=13):
    filename = f"df_{i}.xlsx"
    df.head(10000).to_excel(path + filename, index=False)
    print(f"Saved to {path + filename}")

Saved to ./serrano/serrano_2024_Stata/df_13.xlsx

In [26]:
df_serrano_post2008_ab_active['TURNOVER_GROWTH'] = df.groupby('ORGNR')['rr01_ntoms'].pct_change()
df_serrano_post2008_ab_active.head(10000).to_excel("./serrano/serrano_2024_Stata/" + "w_growth.xlsx", index=False)

/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/3834235973.py:1: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_serrano_post2008_ab_active['TURNOVER_GROWTH'] = df.groupby('ORGNR')['rr01_ntoms'].pct_change()
/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/3834235973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serrano_post2008_ab_active['TURNOVER_GROWTH'] = df.groupby('ORGNR')['rr01_ntoms'].pct_change()

In [ ]:
# Remove all that haven't fulfielled OECD's crtitera to be High-Growth Firms.
df_HGF = df_serrano_post2008_ab_active

# Calculate the annual growth rate for each company
df_HGF['TURNOVER_GROWTH'] = df.groupby('ORGNR')['rr01_ntoms'].pct_change()

df_HGF.head(10000).to_excel(path + filename, index=False)

# Identify high-growth companies
high_growth_companies = df.groupby('ORGNR').apply(
    lambda x: (x['TURNOVER_GROWTH'] > 0.20).rolling(window=3).sum().max() >= 3
).reset_index(name='is_high_growth')

# Filter the DataFrame to retain only high-growth companies
high_growth_orgnr = high_growth_companies[high_growth_companies['is_high_growth']]['ORGNR']
filtered_df = df[df['ORGNR'].isin(high_growth_orgnr)]

print(filtered_df)

/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/963988103.py:5: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_HGF['TURNOVER_GROWTH'] = df.groupby('ORGNR')['rr01_ntoms'].pct_change()
/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/963988103.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_HGF['TURNOVER_GROWTH'] = df.groupby('ORGNR')['rr01_ntoms'].pct_change()
/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/963988103.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HGF['TURNOVER_GROWTH'] = df.groupby('ORGNR')['rr01_ntoms'].pct_change()
/var/folders/pd/d0m27jy17d36rd2w_8y762cr0000gn/T/ipykernel_52524/963988103.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  high_growth_companies = df.groupby('ORGNR').apply(

                 ORGNR  ser_jurform  ser_year  ser_pnr  bransch_sni1  ser_aas  \
415233    5.560000e+09         49.0    2008.0  12107.0           NaN      0.0
415234    5.560000e+09         49.0    2009.0  12107.0           NaN      0.0
415235    5.560000e+09         49.0    2010.0  10061.0           NaN      1.0
415236    5.560000e+09         49.0    2011.0  10061.0           NaN      1.0
415237    5.560000e+09         49.0    2012.0  10061.0           NaN      1.0
...                ...          ...       ...      ...           ...      ...
11741922  5.592418e+09         49.0    2022.0  59139.0           NaN      1.0
11757897  5.592472e+09         49.0    2019.0      NaN           NaN      NaN
11757898  5.592472e+09         49.0    2020.0  55594.0           NaN      1.0
11757899  5.592472e+09         49.0    2021.0  55594.0           NaN      1.0
11757900  5.592472e+09         49.0    2022.0  55594.0           NaN      1.0

          ser_inregyr  bransch_sni2  bransch_sni3  bransch_sni4  ...  \
415233            1.0           NaN           NaN           NaN  ...
415234            1.0           NaN           NaN           NaN  ...
415235            1.0           NaN           NaN           NaN  ...
415236            1.0           NaN           NaN           NaN  ...
415237            1.0           NaN           NaN           NaN  ...
...               ...           ...           ...           ...  ...
11741922          1.0           NaN           NaN           NaN  ...
11757897          0.0           NaN           NaN           NaN  ...
11757898          1.0           NaN           NaN           NaN  ...
11757899          1.0           NaN           NaN           NaN  ...
11757900          1.0           NaN           NaN           NaN  ...

          br10h_resarb  br13a_ksklev  br13b_kskknc  br13c_kskov  br15a_lskknc  \
415233             0.0           0.0           0.0          0.0           0.0
415234             0.0           0.0           0.0          0.0           0.0
415235           306.0           0.0           0.0        256.0        2767.0
415236           261.0          22.0           0.0        617.0        2767.0
415237           545.0          82.0           0.0        537.0        2767.0
...                ...           ...           ...          ...           ...
11741922         118.0           0.0           0.0        385.0           0.0
11757897           5.0         116.0           0.0        169.0           0.0
11757898         165.0         177.0           0.0        291.0           0.0
11757899         305.0         441.0           0.0        512.0           0.0
11757900         381.0         498.0           0.0        564.0           0.0

          br15b_lskov  br15c_obllan ser_regdat regfall TURNOVER_GROWTH
415233            0.0           0.0 1873-12-20     BOL             NaN
415234            0.0           0.0 1873-12-20     BOL             NaN
415235          736.0           0.0 1873-12-20     BOL             inf
415236          736.0           0.0 1873-12-20     BOL        0.784672
415237          736.0           0.0 1873-12-20     BOL        0.274029
...               ...           ...        ...     ...             ...
11741922          0.0           0.0 2020-01-27     BOL        0.253392
11757897        252.0           0.0 2019-12-20     BOL             NaN
11757898        147.0           0.0 2019-12-20     BOL       35.671429
11757899          0.0           0.0 2019-12-20     BOL        1.087651
11757900          0.0           0.0 2019-12-20     BOL        0.232133

[961388 rows x 177 columns]